.case-wrapper {
  text-align: center;
  padding: 100px 120px;
  gap: 70px;
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
  color: #222;
}

.case-article {
  flex: 1;
}

.case-title {
  font-size: 44px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(60, 108, 199);
  
}

.case-author {
  font-size: 20px;
  color: #666;
  margin-bottom: 40px;
  text-align: center;
}

.case-intro, .case-article p {
  font-size: 24px;
  margin-bottom: 24px;
  line-height: 1.8;
  text-align: center;
}

.case-subheading {
  font-size: 28px;
  margin: 40px 0 20px;
  font-weight: 700;
  text-align: center;
}

.case-list {
  margin-left: 30px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
}

.case-list li {
  margin-bottom: 18px;
  line-height: 1.8;
  text-align: center;
}

.case-link {
  color: #2b6cb0;
  text-decoration: underline;
  font-size: 18px;
  text-align: center;
}

/* NEWSLETTER SECTION */
.newsletter-section {
  display: flex;
  align-items: stretch;
  justify-content: center;
  background-color: #c4d0d7;
  padding: 0;
  min-height: 700px;
  font-family: 'Segoe UI', sans-serif;
}

/* LEFT IMAGE SIDE */
.newsletter-left-img {
  width: 50%;
  max-height: 700px;
  overflow: hidden;
}
.newsletter-left-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* RIGHT CONTENT SIDE */
.newsletter-content {
  width: 50%;
  padding: 100px;
  box-sizing: border-box;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.newsletter-content h2 {
  font-size: 48px;
  margin-bottom: 30px;
  font-weight: 800;
}
.newsletter-content p {
  font-size: 24px;
  margin-bottom: 48px;
  color: #222;
}
.newsletter-content label {
  display: block;
  margin-bottom: 30px;
  font-size: 20px;
}
.newsletter-content input {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #888;
  margin-top: 14px;
}
.newsletter-content button {
  padding: 20px 40px;
  background-color: #fdb83c;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.newsletter-content button:hover {
  background-color: #e0a437;
}
.required {
  color: red;
  margin-left: 6px;
}
