.ko-section {
  padding: 5rem 3rem;
  background-color: #f8f9fc;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

/* Heading */
.ko-heading {
  color: #6b2cd8;
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 2vw;
}

.ko-subtext {
  font-size: 1vw;
  color: #555;
  margin-bottom: 3rem;
}

/* Card Grid */
.ko-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5vw;
  row-gap: 1rem;
  justify-content: center;
  margin: 3rem auto;
  padding: 0 2rem;
  width: 100%;
}

.ko-card {
  padding: 3rem 2rem;
  border-radius: 16px;
  color: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 340px;
  width: 100%;
}

/* Card Colors */
.ko-aws {
  background-color: #1e293b;
}
.ko-azure {
  background-color: #0078d4;
}
.ko-gcp {
  background-color: #1a73e8;
}
.ko-private {
  background-color: #6b2cd8;
}

.ko-img {
  width: 4vw;
  object-fit: contain;
  margin-bottom: 1.5rem;
}

.ko-title {
  font-size: 1.2vw;
  font-weight: 600;
  margin-bottom: 1rem;
}

.ko-desc {
  font-size: 1vw;
  line-height: 1.6;
}

.ko-button {
  background: #000000;
  color: white;
  font-size: 1vw;
  padding: 0.9rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  border-color: #1e2f80;
  transition: background 0.3s ease;
  box-shadow: 0 4px 10px rgba(42, 62, 177, 0.747);
}

.ko-button:hover {
  background: #1e2f80;
}

@media (max-width: 480px) {
  .ko-section {
    padding: 3rem 1.5rem;
  }

  .ko-heading {
    font-size: 32px;
    line-height: 1.2;
  }

  .ko-subtext {
    font-size: 16px;
    margin-bottom: 2rem;
  }

  .ko-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0 1rem;
  }

  .ko-card {
    width: 100%;
    padding: 2rem 1.5rem;
    min-height: auto;
  }

  .ko-title {
    font-size: 18px;
  }

  .ko-desc {
    font-size: 14px;
  }

  .ko-button {
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
  }
}

