.lixs-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  background-color: #f5f7fb;
  color: #1f1f1f;
  padding-bottom: 72px;
}

.header {
  text-align: center;
  margin-bottom: 30px;  /* Reduced margin to remove excess space */
  font-size: 28px;
  height: 200px;
}

.gradient-text {
  background: linear-gradient(to right, #ff9900, #ff9900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.header p {
  color: #121212;
  font-size: 21px;
  max-width: 700px;
  margin: 0 auto;
}

.comparison-section {
  text-align: center;
  margin-top: 0;  /* Remove any top margin */
}

.comparison-section h2 {
  font-size: 34px;
  margin-bottom: 10px;
}

.subtitler {
  color: #0a0909;
  font-size: 26px;
  margin-bottom: 10px;  /* Reduce bottom margin to remove gap */
}

.comparison-table {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 900px;
  margin: 0 auto;
}

.table-row {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.header-row .column {
  font-weight: bold;
  background-color: #ffeef0;
  color: #d6336c;
}

.column {
  flex: 1;
  padding: 16px 20px;
  text-align: left;
  font-size: 15px;
}

.traditional {
  background-color: #ffbbc3;
}

.awwad {
  background-color: #a0ffc9;
}
