.protection-wrapper {
  height: 100vh; /* Full screen height */
  padding: 100px 60px;
  text-align: center;
  background-color: #fff;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.protection-heading h2 {
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
}

.protection-heading p {
  font-size: 20px;
  color: #444;
  margin-bottom: 60px;
}

.protection-steps {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.step-box {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  margin: 0 auto;
}

.circle-number {
  width: 80px;
  height: 80px;
  margin: 0 auto 25px auto;
  background-color: #003f3f;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-number .line {
  content: "";
  position: absolute;
  right: -30px;
  width: 40px;
  height: 3px;
  background-color: #2ac47c;
}

.step-box h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.step-box p {
  font-size: 16px;
  color: #444;
  line-height: 1.8;
}
.protection-heading {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.heading-line {
  width: 200px;
  height: 6px;
  background-color: #2ac47c;
  margin: 10px auto;
  border-radius: 3px;
box-shadow: 0 4px 6px #2ac47c; /* real drop shadow */}

.protection-heading h2 {
  font-size: 48px;
  font-weight: 700;
  color: #000;
  margin: 15px 0;
}

.protection-heading p {
  font-size: 20px;
  color: #444;
  margin-top: 30px;
}


