.ts-container {
  position: relative;
  overflow: hidden;
  padding: 60px 30px;
  font-family: "Segoe UI", sans-serif;
  color: #ffffff;
  min-height: 100vh;
  
}

/* Background Image */
.ts-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  z-index: 0;
  pointer-events: none;
}

.ts-heading {
  text-align: center;
  font-size: 60px;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
  font-family: sans-serif;
}

.ts-subheading {
  text-align: center;
  font-size: 28px;
  color: #ccc;
  max-width: 800px;
  margin: 0 auto 40px;
  position: relative;
  z-index: 2;
}

.ts-highlight {
  color: #00ff7f;
}

.ts-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
}

.ts-story-box {
  flex: 1;
  min-width: 300px;
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
  line-height: 1.6;
}

.ts-story-heading {
  color: #00ffd5;
  margin-bottom: 20px;
}

.ts-story-text {
  margin-bottom: 15px;
}

.ts-image-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.ts-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  border: 1px solid #00ffcc;
  background-color: rgba(0, 41, 46, 0.7);
  padding: 5px;
}

.ts-values-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

.ts-values {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.ts-value-box {
  background: rgba(0, 0, 0, 0.6);
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  transition: transform 0.3s;
}

.ts-value-box {
  transform: translateY(-5px);
}

.ts-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}
