.video-sectionn {
  position: relative;
  width: 100vw;
  height: 100vh; /* Full screen */
  overflow: hidden;
}

.bgo-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  z-index: -1;  /* keeps it behind any text if needed */
  pointer-events: none;
}
@media (max-width: 480px) {
  .video-sectionn {
    height: 80vh; /* Reduce height slightly for smaller screens */
  }

  .bgo-video {
    height: 80vh; /* Match container height */
    object-fit: cover;
  }
}
